/* إعدادات عامة */
body {
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f8f1e4; /* لون خفيف */
    color:  midnightblue; /* لون بني */
    direction: rtl;
}

header {
    background-color: #8b5e3c; /* بني غامق */
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.home img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

section {
    margin-bottom: 30px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input, form button {
    margin: 10px 0;
    padding: 10px;
    width: 300px;
    border: 1px solid #8b5e3c;
    border-radius: 5px;
}

form button {
    background-color: #8b5e3c;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #5a3d2b;
}

footer {
    text-align: center;
    background-color: #8b5e3c;
    color: #fff;
    padding: 10px 0;
}
